/* .about-page {
    margin-top: -180px;
    font-family: 'outfit';
    color: #333;
} */

.about-page {
    margin-top: -330px;
    background: linear-gradient(135deg, #1f2937, #111827);
    padding-top: 120px;
    color: #e5e7eb;
    font-family: 'Outfit', sans-serif;
}

.about-hero {
    height: 110vh;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px;
    z-index: 1;
}

.about-hero img.logo {
    max-width: 200px;
    margin-bottom: 20px;
}

.about-hero p {
    font-size: 1.2rem;
    color: #c05959;
    margin: 0;
}

.about-hero img {
    font-size: 3rem;
    margin-bottom: 10px;
}

.about-hero p {
    font-size: 1.2rem;
}

.about-section {
    display: flex;
    flex-wrap: wrap;
    padding: 60px 10%;
    gap: 40px;
    align-items: center;
    /* background-color: #fdfdfd; */
}

.about-text {
    flex: 1;
    min-width: 300px;
}

.about-text h2 {
    font-size: 2.6rem;
    font-weight: 600;
    letter-spacing: 1.5px;
    color: rgba(44, 155, 203, 0.85);
    /* color: linear-gradient(135deg, #3424e2, #298ebd, #100d25); */
    margin-bottom: 25px;
    /* padding-bottom: 8px; */
    display: inline-block;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.about-text p {
    line-height: 1.7;
    color: whitesmoke;
    font-weight: 400;
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 15px;
    mask-type: luminance;
}

.about-image {
    flex: 1;
    min-width: 300px;
}

.about-image img {
    width: 100%;
    border-radius: 10px;
    /* border: 5px solid rgb(33, 141, 103); */
    border: 3px solid rgb(227, 233, 231);
}

.cta-section {
    background-color: #6ca7af;
    color: white;
    text-align: center;
    padding: 30px 20px;
}

.cta-section h2 {
    margin-bottom: 20px;
    font-size: 2rem;
}

.cta-button {
    background-color: #cc6d70;
    color: white;
    padding: 12px 25px;
    border-radius: 5px;
    font-weight: 600;
    text-decoration: none;
    transition: background 0.3s;
}

.cta-button:hover {
    background-color: #e14e51;
}

.story-text {
    color: #d1d5db;
    /* light gray */
    line-height: 1.8;
}

.highlight-name {
    color: #b45309;
}

@media (max-width: 768px) {
    .about-section {
        flex-direction: column;
        text-align: center;
    }

    .about-heading {
        font-size: 2rem;
    }

    .story-text {
        color: #111827;
        /* almost black */
    }
}