.nav-left {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

/* Logo */
.logo {
    z-index: 2;
    cursor: pointer;
}

/* Hidden text behind logo */
.logo-text {
    margin-left: -40px;
    /* hide behind logo */
    opacity: 0;
    transform: translateX(-20px);
    transition: all 0.3s ease;
    white-space: nowrap;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Segoe UI', 'Tahoma', 'Verdana', 'sans-serif';
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #eff0f3;
}

/* Hover effect */
.nav-left:hover .logo-text {
    margin-left: 10px;
    /* slide out */
    opacity: 1;
    transform: translateX(0);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    /* position: sticky; */
    top: 0;
    cursor: pointer;
    /* hyphenate-character:inherit ; */
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(196, 3, 3, 0.05);
}

.logo {
    height: auto;
    width: 100%;
    max-width: 180px;
}

.nav-menu {
    touch-action: manipulation;
    display: flex;
    list-style: none;
    gap: 46px;
}

/* .nav-connect button {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
} */

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 20px;
    cursor: pointer;
}

.bar {
    height: 2px;
    width: 100%;
    transition: 0.3s;
}

.rotate1 {
    transform: rotate(45deg) translate(5px, 5px);
}

.rotate2 {
    transform: rotate(-45deg) translate(5px, -5px);
}

.fade {
    opacity: 0;
}

.nav-menu li a {
    font-size: 30px;
    transition: color 0.3s ease;
}

.theme-toggle button {
    padding: 6px 12px;
    font-size: 14px;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.theme-toggle button:hover {
    background-color: #eee;
}

body.dark-mode .theme-toggle button:hover {
    background-color: #333;
    color: #fff;
}

.nav-label {
    margin-left: 8px;
    display: none;
}

.product-values {
    padding: 60px 20px;
    text-align: center;
    background: #fff;
    font-family: 'outfit';

}

.product-values h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.product-values p {
    color: #555;
    margin-bottom: 40px;
    font-size: 1rem;
}

.values-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.value-card {
    background-color: #2e2244;
    color: #fff;
    width: 220px;
    padding: 30px 20px;
    border-radius: 12px;
    transition: transform 0.3s ease;
}

.value-card:hover {
    transform: translateY(-5px);
}

.value-card img {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
}

.navbar>* {
    flex-shrink: 0;
}

.value-card h4 {
    font-size: 1rem;
    letter-spacing: 1px;
}

@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    .nav-label {
        display: inline;
        gap: 12px;
        font-size: 18px;
    }

    .nav-menu {
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        /* background-color: #fff; */
        background: linear-gradient(135deg, #1f2937, #111827);
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        display: none;
        z-index: 2000;
        opacity: 0.85;
    }

    .nav-menu.open {
        display: flex;
    }

    .navbar {
        position: relative;
        z-index: 3000;
    }
}