.scroll-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 45px;
    height: 45px;
    border-radius: 20%;
    border: none;
    background-color: #0f4ad5;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    z-index: 999;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.scroll-to-top:hover {
    background-color: #ab7575;
    transform: translateY(-3px);
}